  .NavHashLink {
    font-size: 14px;
    text-align: left;
    color: #6b8299;
    margin: 0.2em 0;
    padding: 0.7em;
    padding-right: 5em;
    border-radius: 4px;
  }
  
  .NavHashLink:hover,
 {
    background-color: rgba(0, 149, 179, 0.1);
    text-decoration: none;
    border-radius: 4px;
    color: #0095b3;
  }
