.ContributeBox {
    display: none;
}

.Name {
    margin: 0;
    color: white;
}

.PhotoBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 9vh;
    height: 100%;
}

.NameBox {
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    padding-bottom: 2vh;
    height: 100%;
    width: 100%;
}

.Box1 {
    order: 2
}

.Box2 {
    order: 1
}

.Box3 {
    order: 3
}



@media (min-width: 960px) { 
    .ContributeBox {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%
    }
    .PhotoBox {
        padding-bottom: 7vh;
    }
    
    .NameBox {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-end;
        padding-bottom: 2vh;
        height: 100%;
        width: 100%;
    }

    .Name {
        padding-left: 25px;
    }

    .Box1 {
        order: 1
    }
    
    .Box2 {
        order: 2
    }
    
    .Box3 {
        order: 3
    }
 }